html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: #222;
    background-color: rgb(236,226,217);
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-weight: bold;
    font-size: 10pt;
}

img {
    max-width: 100%;
}

h5 {
    font-size: 2em;
    padding:1em;
    margin: 0em;
}

#header {
    margin:70px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    position: absolute;
    height: 56px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    align-items: center;
    z-index: 10000;
}

#content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}


#map {
    flex: 1 1 70%;
}


div.navheading {
    font-size: 13pt;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navheading a:link, .navheading a:visited, .navheading a:active {
    color: #222;
    text-decoration: none;
}

.navheading a:hover {
    color: #4488ff;
    text-decoration: underline;
}

.navheading .nextprev {
    position: absolute;
    right: 1em;
}

li.match {
    background-color: #ffffcc;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}


.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


/*switch toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The switch slider */
.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchslider {
  background-color: #2196F3;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 34px;
}

.switchslider.round:before {
  border-radius: 50%;
}