{% extends "simple_app/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}

{% endblock %}

{% block app_content %}
  <h1>data services page</h1>
  <p>I currently have 4 layers listed on this map, all of which are targeting the state of Texas</p>
  <p>The wells, the major aquifers, the minor aquifers, the counties</p>
  <br>
  <p>I uploaded to our server through ArcMap with FeatureLayer service</p>
  check out the <a href="http://geoserver2.byu.edu/arcgis/rest/services/UE_UW/tx_maps/MapServer">data page</a>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">

  </div>
{% endblock %}

