{% extends "simple_app/base.html" %}
{% load tethys_gizmos %}


{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Well Depth App</h1>
  <h4>instructions for the page is on the question mark of the Map View page.</h4>
  <h4>UE Shen</h4>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}
