{% extends "simple_app/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles%}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
  <li class="separator"></li>
  <li><a href="{% url 'simple_app:home' %}">Home</a></li>
  <li><a href="{% url 'simple_app:map_view' %}">Map View</a></li>

  <li class="separator"></li>
<hr>
<li class="separator"></li>
    <div id="base_addition">

        <div id="toggles_div">

            <div class="side_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="wellLayer" value="wells layer" onclick="showLayers()">
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">All Wells</div>
                </div>
            </div>
            <div class="side_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="majorAquiferLayer" value="wells layer" onclick="showLayers()">
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">Major Aquifers</div>
                </div>
            </div>
            <div class="side_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="minorAquiferLayer" value="wells layer" onclick="showLayers()">
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">Minor Aquifers</div>
                </div>
            </div>
            <div class="side_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="countyLayer" value="wells layer" onclick="showLayers()">
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">Counties</div>
                </div>
            </div>

        </div>
        <br>
    </div>
{% endblock %}

{% block app_content %}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/4.6/esri/css/main.css">
    <link rel="stylesheet" type="text/css" href="{% static 'simple_app/css/map_style.css' %}">
    <script src="https://js.arcgis.com/4.6/"></script>
    <script src="{% static 'simple_app/js/undergroundwater.js' %}" type="text/javascript"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript"></script>
</head>

<body>
    <div id="header">
        <div id="data_layer">
            <div class="radius_slider">
              <input type="range" min="1" max="25" value="1" class="slider" id="input_range">
                <div id="radius_output">
                    Radius in Miles: <span id="radius_val"></span>
                </div>
            </div>
            <div class="map_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="points_layer" value="well" onclick="showLayers()" checked>
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">wells</div>
                </div>
            </div>
            <div class="map_toggle">
                <div class="wells_toggle">
                    <label class="switch">
                      <input type="checkbox" id="waterlevel_layer" value="well" onclick="showLayers()" checked>
                      <span class="switchslider round"></span>
                    </label>
                    <div class="toggle_label">interpolation</div>
                </div>
            </div>
            <br>
            <div id="depth_div">
                <div id="well_bar_label">
                </div>
                <div id="atr_table">
                </div>
                <div id="buffer_pointer"></div>
            </div>
            <span></span>
        </div>
    </div>
    <div id="content">

        <div id="navigate">
            <div id="locate">

            </div>
            <div id="time_period">

            </div>
        </div>
        <div id="map"></div>
        <div id="processing_display"></div>

    </div>
    <script src="{% static 'simple_app/js/map_gp.js' %}" type="text/javascript"></script>

</body>


{% endblock %}

{% block after_app_content %}
<!-- Example Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Instructions for Using This App</h5>
        </div>
        <div class="modal-body">
          <p>To operate this app:</p>
            <ol>
              <li>click a point of your interest in the state of Texas</li>
              <li>Adjust radius of point of interest with the slider</li>
              <li>Turn on/off map layers with the toggles</li>
              <li>legend are shown on the map as your results show up</li>
            </ol>
            <p>legend are shown on the map as your results show up</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
